* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("/assets/header_background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 274px 0 256px;
}

header h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 400;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.main-info img {
  margin-bottom: 12px;
}

.main-info h1 {
  margin-bottom: 42px;
}

.main-info h2 {
  color: rgba(255, 255, 255, 0.7);
}

.section-headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 87px 120px 98px 97px;
}

.section-headline h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
}

.section-headline p {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 26px;
}

.section-headline-title {
  font-family: "Oswald", sans-serif;
  color: #464547;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 40px;
}

.read-more-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  background-color: #55c2d8;
  border-radius: 18px;
  padding: 5px 0;
  width: 115px;
  border: 0;
  letter-spacing: 1.1px;
}

.section-learn-more {
  background-image: url("/assets/learn-more-img.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 84px;
  padding-bottom: 90px;
}

.section-learn-more h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  line-height: 64px;
  margin-bottom: 53px;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55c2d8;
  color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 0;
  font-size: 70px;
  margin-bottom: 70px;
}

.section-learn-more div {
  margin-left: 15px;
}

.section-learn-more h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

footer {
  background-color: #464547;
  padding-left: 140px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 38px;
  padding-top: 21px;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 1.2px;
  padding-bottom: 12px;
}

address a:link {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

address a:visited {
  color: rgba(255, 255, 255, 0.4);
}
